* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #FFF;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        opacity: 1;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    height: 100vh;
    background-color: #0B090A;
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
    background-position: 80% 10%;
    clip-path: polygon(100% 0, 100% 43%, 25% 75%, 0 48%, 0 0);
}

.text-box {
    margin: 0 15vw;
    padding-top: 10%;
    color: #FFF;
}

.header-text {
    display: block;

    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.header-text-top {
    padding: 10px 0;
    color: #B1A7A6;
}

.header-text-bottom {
    padding: 5px 0;
    text-transform: uppercase;
}

.header-text-sub {
    font-weight: 200;
    padding: 20px 0;
    margin: 10px 0;
}

.btn:link,
.btn:visited {
    border: 2px solid #A4161A;
    padding: 10px 20px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;

    animation-name: fadeInBottom;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.btn:active {
    transform: translateY(-1px);
    transition: all .5s;
}

.btn:hover {
    transform: translateY(-10px);
    transition: all .5s;
}

.btn-red {
    color: #BA181B;
    font-weight: 600;
}