.primary-text {
    font-family: 'Shippori Mincho', serif;
    font-size: 3.75rem;
    color: $color-primary;
    font-weight: 200;
    padding-top: 40vh;
    padding-bottom: 10px;
}

.secondary-text {
    width: 30vw;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.1rem;
    color: $color-secondary;
}