.nav-container {
    background-color: $color-background;
    
    padding: 1.8rem 0;

    &--list {
        display: flex;
        justify-content: space-between;

        li {
            font-size: 1.4rem;
            font-weight: 300;

            div > span {
                padding: 2px;
                display: block;
            }
        }
    }
}