* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    width: 35%;
    border-width: 0px 0px 2px 0px;
    border-color: #000000;
    border-style: solid;
    padding: 20px;
    margin: 5px;
}

h1, h3 {
    font-family: "Montserrat Bold";
}

p {
    font-family: "Cardo Regular";
}

li > p {
    padding: 1vw;
}

html, 
body {
    height: 100%;
}

#layout {
    padding: 1vh 5vw;
}

#footer {
    display: flex;
    justify-content: center;
}

.left-indetation {
    padding-left: 60px;
}

.section {
    height: 100vh;
    display: flex;
}

.section.center {
    align-items: center;
}

.section.wrap {
    
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.home-logo {
    font-family: "Montserrat Bold";
    font-size: 8vw;
}

.home-sub-logo {
    font-family: "Cardo Regular";
    font-size: 1.5vw;
}

.link {
    color: #000000;
}

.article {
    display: flex;
    padding: 10px;
}

.article.flex-50 {
    flex: 1;
}